@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}
.container{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 18px;
  padding-left: 18px;
}
@media (min-width: 100%){

  .container{
    max-width: 100%;
  }
}
@media (min-width: 1280px){

  .container{
    max-width: 1280px;
  }
}
.pointer-events-none{
  pointer-events: none;
}
.fixed{
  position: fixed;
}
.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
.inset-x-0{
  left: 0px;
  right: 0px;
}
.-bottom-1{
  bottom: -0.25rem;
}
.-left-12{
  left: -3rem;
}
.bottom-1{
  bottom: 0.25rem;
}
.bottom-4{
  bottom: 1rem;
}
.left-0{
  left: 0px;
}
.left-1\/2{
  left: 50%;
}
.left-3{
  left: 0.75rem;
}
.left-5{
  left: 1.25rem;
}
.right-0{
  right: 0px;
}
.right-4{
  right: 1rem;
}
.top-0{
  top: 0px;
}
.top-1\/2{
  top: 50%;
}
.top-2\.5{
  top: 0.625rem;
}
.top-3{
  top: 0.75rem;
}
.top-9{
  top: 2.25rem;
}
.top-\[75px\]{
  top: 75px;
}
.top-\[40\%\]{
  top: 40%;
}
.left-\[\]{
  left: ;
}
.left-\[20\%\]{
  left: 20%;
}
.z-10{
  z-index: 10;
}
.z-50{
  z-index: 50;
}
.z-\[999\]{
  z-index: 999;
}
.mx-4{
  margin-left: 1rem;
  margin-right: 1rem;
}
.mx-5{
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}
.mx-auto{
  margin-left: auto;
  margin-right: auto;
}
.my-2{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.my-7{
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}
.-ml-\[1px\]{
  margin-left: -1px;
}
.mb-2{
  margin-bottom: 0.5rem;
}
.mb-5{
  margin-bottom: 1.25rem;
}
.mb-6{
  margin-bottom: 1.5rem;
}
.mb-7{
  margin-bottom: 1.75rem;
}
.ml-2{
  margin-left: 0.5rem;
}
.ml-4{
  margin-left: 1rem;
}
.ml-5{
  margin-left: 1.25rem;
}
.mt-1{
  margin-top: 0.25rem;
}
.mt-10{
  margin-top: 2.5rem;
}
.mt-2{
  margin-top: 0.5rem;
}
.mt-3{
  margin-top: 0.75rem;
}
.mt-4{
  margin-top: 1rem;
}
.mt-5{
  margin-top: 1.25rem;
}
.mt-6{
  margin-top: 1.5rem;
}
.mt-7{
  margin-top: 1.75rem;
}
.mt-8{
  margin-top: 2rem;
}
.mt-\[60px\]{
  margin-top: 60px;
}
.block{
  display: block;
}
.inline-block{
  display: inline-block;
}
.flex{
  display: flex;
}
.inline-flex{
  display: inline-flex;
}
.grid{
  display: grid;
}
.hidden{
  display: none;
}
.h-10{
  height: 2.5rem;
}
.h-12{
  height: 3rem;
}
.h-20{
  height: 5rem;
}
.h-4{
  height: 1rem;
}
.h-5{
  height: 1.25rem;
}
.h-6{
  height: 1.5rem;
}
.h-7{
  height: 1.75rem;
}
.h-8{
  height: 2rem;
}
.h-\[144\.5px\]{
  height: 144.5px;
}
.h-\[168px\]{
  height: 168px;
}
.h-\[1px\]{
  height: 1px;
}
.h-\[2px\]{
  height: 2px;
}
.h-\[390px\]{
  height: 390px;
}
.h-\[60px\]{
  height: 60px;
}
.max-h-0{
  max-height: 0px;
}
.max-h-96{
  max-height: 24rem;
}
.w-0{
  width: 0px;
}
.w-10{
  width: 2.5rem;
}
.w-12{
  width: 3rem;
}
.w-2{
  width: 0.5rem;
}
.w-20{
  width: 5rem;
}
.w-4{
  width: 1rem;
}
.w-48{
  width: 12rem;
}
.w-5{
  width: 1.25rem;
}
.w-52{
  width: 13rem;
}
.w-6{
  width: 1.5rem;
}
.w-7{
  width: 1.75rem;
}
.w-\[114px\]{
  width: 114px;
}
.w-\[120px\]{
  width: 120px;
}
.w-\[144\.5px\]{
  width: 144.5px;
}
.w-\[160px\]{
  width: 160px;
}
.w-\[180px\]{
  width: 180px;
}
.w-\[187px\]{
  width: 187px;
}
.w-\[190px\]{
  width: 190px;
}
.w-\[1px\]{
  width: 1px;
}
.w-\[255px\]{
  width: 255px;
}
.w-\[300px\]{
  width: 300px;
}
.w-\[322px\]{
  width: 322px;
}
.w-\[60px\]{
  width: 60px;
}
.w-\[88\%\]{
  width: 88%;
}
.w-auto{
  width: auto;
}
.w-full{
  width: 100%;
}
.w-max{
  width: -moz-max-content;
  width: max-content;
}
.max-w-\[calc\(100\%-20px\)\]{
  max-width: calc(100% - 20px);
}
.-translate-x-1\/2{
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-y-0{
  --tw-translate-y: -0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-y-1\/2{
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-y-2{
  --tw-translate-y: -0.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.translate-y-0{
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.rotate-180{
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.rotate-\[180deg\]{
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.cursor-pointer{
  cursor: pointer;
}
.list-disc{
  list-style-type: disc;
}
.list-none{
  list-style-type: none;
}
.appearance-none{
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.grid-cols-1{
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-3{
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-cols-5{
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.flex-col{
  flex-direction: column;
}
.flex-col-reverse{
  flex-direction: column-reverse;
}
.flex-wrap{
  flex-wrap: wrap;
}
.items-start{
  align-items: flex-start;
}
.items-center{
  align-items: center;
}
.justify-center{
  justify-content: center;
}
.justify-between{
  justify-content: space-between;
}
.gap-1{
  gap: 0.25rem;
}
.gap-10{
  gap: 2.5rem;
}
.gap-2{
  gap: 0.5rem;
}
.gap-2\.5{
  gap: 0.625rem;
}
.gap-3{
  gap: 0.75rem;
}
.gap-4{
  gap: 1rem;
}
.gap-5{
  gap: 1.25rem;
}
.gap-7{
  gap: 1.75rem;
}
.gap-8{
  gap: 2rem;
}
.gap-\[18px\]{
  gap: 18px;
}
.gap-y-5{
  row-gap: 1.25rem;
}
.space-x-2 > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-y-3 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}
.space-y-4 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}
.overflow-hidden{
  overflow: hidden;
}
.rounded{
  border-radius: 0.25rem;
}
.rounded-2xl{
  border-radius: 1rem;
}
.rounded-\[4px\]{
  border-radius: 4px;
}
.rounded-full{
  border-radius: 9999px;
}
.rounded-lg{
  border-radius: 0.5rem;
}
.rounded-md{
  border-radius: 0.375rem;
}
.rounded-xl{
  border-radius: 0.75rem;
}
.rounded-tl-2xl{
  border-top-left-radius: 1rem;
}
.rounded-tl-\[20px\]{
  border-top-left-radius: 20px;
}
.rounded-tl-\[40px\]{
  border-top-left-radius: 40px;
}
.rounded-tr-2xl{
  border-top-right-radius: 1rem;
}
.rounded-tr-\[20px\]{
  border-top-right-radius: 20px;
}
.rounded-tr-\[40px\]{
  border-top-right-radius: 40px;
}
.border{
  border-width: 1px;
}
.border-\[1\.5px\]{
  border-width: 1.5px;
}
.border-b{
  border-bottom-width: 1px;
}
.border-e{
  border-inline-end-width: 1px;
}
.border-l{
  border-left-width: 1px;
}
.border-l-2{
  border-left-width: 2px;
}
.border-r{
  border-right-width: 1px;
}
.border-t{
  border-top-width: 1px;
}
.border-borderColor{
  --tw-border-opacity: 1;
  border-color: rgb(224 224 224 / var(--tw-border-opacity, 1));
}
.border-greenColor{
  --tw-border-opacity: 1;
  border-color: rgb(8 136 104 / var(--tw-border-opacity, 1));
}
.border-transparent{
  border-color: transparent;
}
.border-white{
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}
.border-opacity-30{
  --tw-border-opacity: 0.3;
}
.bg-\[\#E0E0E0\]{
  --tw-bg-opacity: 1;
  background-color: rgb(224 224 224 / var(--tw-bg-opacity, 1));
}
.bg-cardbg{
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity, 1));
}
.bg-greenColor{
  --tw-bg-opacity: 1;
  background-color: rgb(8 136 104 / var(--tw-bg-opacity, 1));
}
.bg-primaryColor{
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}
.bg-promoBg{
  --tw-bg-opacity: 1;
  background-color: rgb(14 49 40 / var(--tw-bg-opacity, 1));
}
.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}
.bg-cover{
  background-size: cover;
}
.bg-center{
  background-position: center;
}
.bg-no-repeat{
  background-repeat: no-repeat;
}
.stroke-black{
  stroke: #000;
}
.object-cover{
  -o-object-fit: cover;
     object-fit: cover;
}
.p-12{
  padding: 3rem;
}
.p-4{
  padding: 1rem;
}
.p-5{
  padding: 1.25rem;
}
.p-7{
  padding: 1.75rem;
}
.px-0{
  padding-left: 0px;
  padding-right: 0px;
}
.px-10{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.px-3{
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.px-6{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.py-1{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.py-1\.5{
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}
.py-10{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-2\.5{
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.py-4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-5{
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.py-7{
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}
.py-\[10px\]{
  padding-top: 10px;
  padding-bottom: 10px;
}
.py-\[3px\]{
  padding-top: 3px;
  padding-bottom: 3px;
}
.pb-2{
  padding-bottom: 0.5rem;
}
.pb-4{
  padding-bottom: 1rem;
}
.pb-5{
  padding-bottom: 1.25rem;
}
.pl-10{
  padding-left: 2.5rem;
}
.pl-3{
  padding-left: 0.75rem;
}
.pl-4{
  padding-left: 1rem;
}
.pl-7{
  padding-left: 1.75rem;
}
.pl-9{
  padding-left: 2.25rem;
}
.pr-10{
  padding-right: 2.5rem;
}
.pr-3{
  padding-right: 0.75rem;
}
.pt-1{
  padding-top: 0.25rem;
}
.pt-10{
  padding-top: 2.5rem;
}
.pt-12{
  padding-top: 3rem;
}
.pt-2{
  padding-top: 0.5rem;
}
.pt-3{
  padding-top: 0.75rem;
}
.pt-4{
  padding-top: 1rem;
}
.pt-5{
  padding-top: 1.25rem;
}
.pt-6{
  padding-top: 1.5rem;
}
.pt-7{
  padding-top: 1.75rem;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.font-Geist{
  font-family: Geist, sans-serif;
}
.text-22xl{
  font-size: 22px;
}
.text-24xl{
  font-size: 24px;
}
.text-28xl{
  font-size: 28px;
}
.text-30xl{
  font-size: 30px;
}
.text-32xl{
  font-size: 32px;
}
.text-36xl{
  font-size: 36px;
}
.text-40xl{
  font-size: 40px;
}
.text-48xl{
  font-size: 48px;
}
.text-60xl{
  font-size: 60px;
}
.text-\[13px\]{
  font-size: 13px;
}
.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}
.font-bold{
  font-weight: 700;
}
.font-medium{
  font-weight: 500;
}
.font-normal{
  font-weight: 400;
}
.leading-32{
  line-height: 32px;
}
.leading-34{
  line-height: 34px;
}
.leading-40{
  line-height: 40px;
}
.leading-42{
  line-height: 42px;
}
.leading-44{
  line-height: 44px;
}
.leading-5{
  line-height: 1.25rem;
}
.leading-56{
  line-height: 56px;
}
.leading-6{
  line-height: 1.5rem;
}
.leading-64{
  line-height: 64px;
}
.leading-7{
  line-height: 1.75rem;
}
.leading-8{
  line-height: 30px;
}
.leading-\[50px\]{
  line-height: 50px;
}
.leading-\[58px\]{
  line-height: 58px;
}
.-tracking-\[0\.03em\]{
  letter-spacing: -0.03em;
}
.tracking-\[-0\.03em\]{
  letter-spacing: -0.03em;
}
.text-\[\#4C4C4C\]{
  --tw-text-opacity: 1;
  color: rgb(76 76 76 / var(--tw-text-opacity, 1));
}
.text-\[\#FFFFFFBF\]{
  color: #FFFFFFBF;
}
.text-borderColor{
  --tw-text-opacity: 1;
  color: rgb(224 224 224 / var(--tw-text-opacity, 1));
}
.text-greenColor{
  --tw-text-opacity: 1;
  color: rgb(8 136 104 / var(--tw-text-opacity, 1));
}
.text-primaryColor{
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}
.text-secondaryColor{
  --tw-text-opacity: 1;
  color: rgb(83 83 83 / var(--tw-text-opacity, 1));
}
.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}
.text-opacity-70{
  --tw-text-opacity: 0.7;
}
.underline{
  text-decoration-line: underline;
}
.underline-offset-1{
  text-underline-offset: 1px;
}
.placeholder-secondaryColor::-moz-placeholder{
  --tw-placeholder-opacity: 1;
  color: rgb(83 83 83 / var(--tw-placeholder-opacity, 1));
}
.placeholder-secondaryColor::placeholder{
  --tw-placeholder-opacity: 1;
  color: rgb(83 83 83 / var(--tw-placeholder-opacity, 1));
}
.opacity-0{
  opacity: 0;
}
.opacity-100{
  opacity: 1;
}
.shadow-2xl{
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-lg{
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-xl{
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.transition{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-all{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-colors{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-opacity{
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-transform{
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.duration-1000{
  transition-duration: 1000ms;
}
.duration-200{
  transition-duration: 200ms;
}
.duration-300{
  transition-duration: 300ms;
}
.duration-500{
  transition-duration: 500ms;
}
.duration-700{
  transition-duration: 700ms;
}
.ease-in{
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.ease-in-out{
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ease-out{
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}





.range {
      -webkit-appearance: none;
      -moz-appearance: none;
           appearance: none;
      width: 100%;
      height: 4px;
      border-radius: 5px;
      outline: none;
      position: absolute;
      pointer-events: none;
    }
    .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #059669;
    cursor: pointer;
    pointer-events: auto;
    position: relative;
    top: 14px;
    z-index: 3;
    }

    .range::-moz-range-thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #059669;
    cursor: pointer;
    position: relative;
    top: 14px;
    z-index: 3;
    }

    /* ধূসর লাইন */
    #sliderTrack {
      position: absolute;
      height: 4px;
      border-radius: 5px;
      background: #d1d5db; /* gray-300 */
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
    }
    /* সবুজ লাইন */
    #sliderRange {
      position: absolute;
      height: 4px;
      border-radius: 5px;
      background: #059669; /* green */
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
    }




/* Default pagination bullet */
    .swiper-pagination .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      background: #9ca3af; /* gray-400 */
      border-radius: 50%;
      opacity: 1;
      transition: all 0.3s ease-in-out;
    }

    /* Active pagination bullet */
    .swiper-pagination .swiper-pagination-bullet-active {
      width: 24px;
      height: 8px;
      border-radius: 9999px; /* full rounded */
      background: #0d9488; /* teal-600 */
    }


  .custom-pagination, .custom-paginations{
    position: static !important;
    display: flex;
    justify-content: center;
    gap: 8px;
  }
    .custom-pagination span, .custom-paginations span {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #9ca3af; /* gray */
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  .custom-pagination span.active {
    width: 60px;
    height: 8px;
    border-radius: 9999px;
    background: #0d9488; /* teal */
  }

  .custom-paginations span.active {
    width: 60px;
    height: 8px;
    border-radius: 9999px;
    background: white; /* teal */
  }



  /* Main image styling */
  #mainImage {
    width: 100%;
    max-width: 626px;
    height: auto;
    aspect-ratio: 1/1; /* 1:1 ratio রাখবে */
    -o-object-fit: cover;
       object-fit: cover; /* ছবিকে crop করে fill করবে */
    border-radius: 10px; /* চাইলে কোণগুলো গোল করা যাবে */
    display: block;
  }

  /* Thumbnail styling */
  .thumbnail {
    width: 145px;
    height: 145px;
    -o-object-fit: cover;
       object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: 0.3s;
  }
  .thumbnail:hover{
    border: 2px solid black;
  }

  /* Responsive layout */
  @media (max-width: 1024px) {
    #mainImage {
      max-width: 100%;
      height: auto;
    }
    .thumbnail {
      width: 108px;
      height: 108px;
    }
  }
  /* Responsive layout */
  @media (max-width: 1022px) {
    #mainImage {
      max-width: 100%;
      height: auto;
    }
    .thumbnail {
      width: 195px;
      height: 153px;
    }
  }
  @media (max-width: 640px) {
    #mainImage {
      max-width: 100%;
      height: auto;
    }
    .thumbnail {
      width: 79px;
      height: 79px;
    }
  }
  .placeholder\:text-base::-moz-placeholder{
  font-size: 1rem;
  line-height: 1.5rem;
}
  .placeholder\:text-base::placeholder{
  font-size: 1rem;
  line-height: 1.5rem;
}
  .placeholder\:leading-6::-moz-placeholder{
  line-height: 1.5rem;
}
  .placeholder\:leading-6::placeholder{
  line-height: 1.5rem;
}
  .placeholder\:text-secondaryColor::-moz-placeholder{
  --tw-text-opacity: 1;
  color: rgb(83 83 83 / var(--tw-text-opacity, 1));
}
  .placeholder\:text-secondaryColor::placeholder{
  --tw-text-opacity: 1;
  color: rgb(83 83 83 / var(--tw-text-opacity, 1));
}
  .hover\:scale-105:hover{
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
  .hover\:transform:hover{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
  .hover\:border-greenColor:hover{
  --tw-border-opacity: 1;
  border-color: rgb(8 136 104 / var(--tw-border-opacity, 1));
}
  .hover\:border-promoBg:hover{
  --tw-border-opacity: 1;
  border-color: rgb(14 49 40 / var(--tw-border-opacity, 1));
}
  .hover\:bg-greenColor:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(8 136 104 / var(--tw-bg-opacity, 1));
}
  .hover\:bg-promoBg:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(14 49 40 / var(--tw-bg-opacity, 1));
}
  .hover\:bg-white:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}
  .hover\:text-greenColor:hover{
  --tw-text-opacity: 1;
  color: rgb(8 136 104 / var(--tw-text-opacity, 1));
}
  .hover\:text-primaryColor:hover{
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}
  .hover\:text-white:hover{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}
  .hover\:transition:hover{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
  .hover\:duration-500:hover{
  transition-duration: 500ms;
}
  .hover\:ease-in-out:hover{
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
  .focus\:outline-none:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}
  .focus\:ring-1:focus{
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
  .focus\:ring-primaryColor:focus{
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(0 0 0 / var(--tw-ring-opacity, 1));
}
  .group:hover .group-hover\:block{
  display: block;
}
  .group:hover .group-hover\:w-full{
  width: 100%;
}
  .group:hover .group-hover\:scale-105{
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
  .group:hover .group-hover\:scale-110{
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
  .group:hover .group-hover\:bg-greenColor{
  --tw-bg-opacity: 1;
  background-color: rgb(8 136 104 / var(--tw-bg-opacity, 1));
}
  .group:hover .group-hover\:fill-greenColor{
  fill: #088868;
}
  .group:hover .group-hover\:fill-white{
  fill: #fff;
}
  .group:hover .group-hover\:stroke-white{
  stroke: #fff;
}
  .group:hover .group-hover\:text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}
  .group:hover .group-hover\:transition{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
  .group:hover .group-hover\:duration-500{
  transition-duration: 500ms;
}
  .group:hover .group-hover\:duration-700{
  transition-duration: 700ms;
}
  .group:hover .group-hover\:ease-in-out{
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
  .peer:hover ~ .peer-hover\:w-\[calc\(100\%-40px\)\]{
  width: calc(100% - 40px);
}
  .peer:focus ~ .peer-focus\:rotate-180{
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
  @media (min-width: 640px){

  .sm\:block{
    display: block;
  }
}
  @media (min-width: 768px){

  .md\:bottom-7{
    bottom: 1.75rem;
  }

  .md\:left-1\/2{
    left: 50%;
  }

  .md\:top-1\/2{
    top: 50%;
  }

  .md\:mr-3{
    margin-right: 0.75rem;
  }

  .md\:mt-0{
    margin-top: 0px;
  }

  .md\:mt-10{
    margin-top: 2.5rem;
  }

  .md\:mt-20{
    margin-top: 5rem;
  }

  .md\:mt-7{
    margin-top: 1.75rem;
  }

  .md\:mt-\[60px\]{
    margin-top: 60px;
  }

  .md\:mt-\[70px\]{
    margin-top: 70px;
  }

  .md\:block{
    display: block;
  }

  .md\:inline-block{
    display: inline-block;
  }

  .md\:flex{
    display: flex;
  }

  .md\:grid{
    display: grid;
  }

  .md\:hidden{
    display: none;
  }

  .md\:h-\[690px\]{
    height: 690px;
  }

  .md\:w-12{
    width: 3rem;
  }

  .md\:w-408{
    width: 408px;
  }

  .md\:w-626{
    width: 626px;
  }

  .md\:w-844{
    width: 844px;
  }

  .md\:w-\[233px\]{
    width: 233px;
  }

  .md\:w-\[290px\]{
    width: 290px;
  }

  .md\:w-\[626px\]{
    width: 626px;
  }

  .md\:w-\[650px\]{
    width: 650px;
  }

  .md\:w-auto{
    width: auto;
  }

  .md\:-translate-x-1\/2{
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .md\:transform{
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .md\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:flex-row{
    flex-direction: row;
  }

  .md\:items-center{
    align-items: center;
  }

  .md\:gap-0{
    gap: 0px;
  }

  .md\:gap-4{
    gap: 1rem;
  }

  .md\:gap-5{
    gap: 1.25rem;
  }

  .md\:gap-6{
    gap: 1.5rem;
  }

  .md\:gap-7{
    gap: 1.75rem;
  }

  .md\:gap-\[30px\]{
    gap: 30px;
  }

  .md\:space-x-3 > :not([hidden]) ~ :not([hidden]){
    --tw-space-x-reverse: 0;
    margin-right: calc(0.75rem * var(--tw-space-x-reverse));
    margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .md\:rounded-tl-\[40px\]{
    border-top-left-radius: 40px;
  }

  .md\:rounded-tr-\[40px\]{
    border-top-right-radius: 40px;
  }

  .md\:border-b{
    border-bottom-width: 1px;
  }

  .md\:border-r{
    border-right-width: 1px;
  }

  .md\:border-t{
    border-top-width: 1px;
  }

  .md\:p-7{
    padding: 1.75rem;
  }

  .md\:px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .md\:px-4{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .md\:py-20{
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .md\:py-32{
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .md\:py-\[90px\]{
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .md\:pt-0{
    padding-top: 0px;
  }

  .md\:pt-12{
    padding-top: 3rem;
  }

  .md\:pt-20{
    padding-top: 5rem;
  }

  .md\:text-24xl{
    font-size: 24px;
  }

  .md\:text-28xl{
    font-size: 28px;
  }

  .md\:text-36xl{
    font-size: 36px;
  }

  .md\:text-48xl{
    font-size: 48px;
  }

  .md\:text-80xl{
    font-size: 80px;
  }

  .md\:text-base{
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .md\:text-lg{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .md\:leading-32{
    line-height: 32px;
  }

  .md\:leading-38{
    line-height: 38px;
  }

  .md\:leading-44{
    line-height: 44px;
  }

  .md\:leading-56{
    line-height: 56px;
  }

  .md\:leading-6{
    line-height: 1.5rem;
  }

  .md\:leading-7{
    line-height: 1.75rem;
  }

  .md\:leading-90{
    line-height: 90px;
  }
}
  @media (min-width: 1024px){

  .lg\:left-0{
    left: 0px;
  }

  .lg\:left-1\/2{
    left: 50%;
  }

  .lg\:mx-0{
    margin-left: 0px;
    margin-right: 0px;
  }

  .lg\:mt-20{
    margin-top: 5rem;
  }

  .lg\:mt-\[120px\]{
    margin-top: 120px;
  }

  .lg\:mt-\[60px\]{
    margin-top: 60px;
  }

  .lg\:block{
    display: block;
  }

  .lg\:inline-block{
    display: inline-block;
  }

  .lg\:flex{
    display: flex;
  }

  .lg\:hidden{
    display: none;
  }

  .lg\:w-356{
    width: 356px;
  }

  .lg\:w-375{
    width: 375px;
  }

  .lg\:w-408{
    width: 408px;
  }

  .lg\:w-574{
    width: 574px;
  }

  .lg\:w-626{
    width: 626px;
  }

  .lg\:w-735{
    width: 735px;
  }

  .lg\:w-844{
    width: 844px;
  }

  .lg\:w-\[288px\]{
    width: 288px;
  }

  .lg\:w-\[299px\]{
    width: 299px;
  }

  .lg\:w-\[310px\]{
    width: 310px;
  }

  .lg\:w-\[421px\]{
    width: 421px;
  }

  .lg\:w-\[510px\]{
    width: 510px;
  }

  .lg\:w-\[682px\]{
    width: 682px;
  }

  .lg\:w-\[792px\]{
    width: 792px;
  }

  .lg\:w-\[90\%\]{
    width: 90%;
  }

  .lg\:w-\[953px\]{
    width: 953px;
  }

  .lg\:-translate-x-1\/2{
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:transform{
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:grid-cols-4{
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .lg\:flex-row{
    flex-direction: row;
  }

  .lg\:flex-nowrap{
    flex-wrap: nowrap;
  }

  .lg\:items-center{
    align-items: center;
  }

  .lg\:gap-20{
    gap: 5rem;
  }

  .lg\:border-b-0{
    border-bottom-width: 0px;
  }

  .lg\:border-r{
    border-right-width: 1px;
  }

  .lg\:border-r-0{
    border-right-width: 0px;
  }

  .lg\:py-\[120px\]{
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .lg\:py-\[286px\]{
    padding-top: 286px;
    padding-bottom: 286px;
  }

  .lg\:py-\[311px\]{
    padding-top: 311px;
    padding-bottom: 311px;
  }

  .lg\:pt-0{
    padding-top: 0px;
  }

  .lg\:pt-\[120px\]{
    padding-top: 120px;
  }

  .lg\:pt-\[92px\]{
    padding-top: 92px;
  }

  .lg\:text-xs{
    font-size: 0.75rem;
    line-height: 1rem;
  }
}
  @media (min-width: 1280px){

  .xl\:w-574{
    width: 574px;
  }

  .xl\:w-626{
    width: 626px;
  }

  .xl\:w-\[1280px\]{
    width: 1280px;
  }

  .xl\:w-\[207px\]{
    width: 207px;
  }

  .xl\:w-\[760px\]{
    width: 760px;
  }

  .xl\:w-full{
    width: 100%;
  }

  .xl\:flex-row{
    flex-direction: row;
  }

  .xl\:flex-wrap{
    flex-wrap: wrap;
  }

  .xl\:gap-20{
    gap: 5rem;
  }

  .xl\:gap-\[246px\]{
    gap: 246px;
  }

  .xl\:px-0{
    padding-left: 0px;
    padding-right: 0px;
  }

  .xl\:pt-\[180px\]{
    padding-top: 180px;
  }

  .xl\:text-base{
    font-size: 1rem;
    line-height: 1.5rem;
  }
}